body {
  background-color: #7FDBFF;
}

.row {
  margin: auto;
  padding: 20px;
  background-color: white;
}

li {
  list-style-type: none;
}

.search {
  text-align: center;
}

.result {
  text-align: center;
}

.row{
  border: 1px grey;
  background: lightyellow;
}

#doctor-image {
  width: 300px;
  height: 300px;
}
